* {
  box-sizing: border-box;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  padding: 10px;
  grid-gap: 10px;
}

@media only screen and (max-width: 800px) {
	.grid-container {
		grid-template-columns: auto; 
	}
}